{%extends "base.html"%}
{%block title%}{{block.super}} - Strona główna{%endblock%}

{%block main_content%}
    <h1>Czym jest ASS.8?</h1>
    <p>
    ASS.8(Alternatywny System Synchronizacji.8) to aplikacja ułatwiająca wymianę plików 
    między użytkownikikami. Jest to całkowicie darmowa usługa. Jeśli masz konto 
    <a href="/accounts/login/">zaloguj się</a>. A jeśli nie masz jeszcze konta 
    <a href="/accounts/register/">załóż je</a> w mniej niż minutę.
    </p>
    
    <h1>Co oferuje ASS.8?</h1>
    <p>Każdy użytkownik dostaje miejsce na swoje pliki. To ty decydujesz które pliki chcesz
    udostępnić wszystkim zarejestrowanym użytkownikom, które swoim znajomym a które mają być
    widoczne tylko dla Ciebie.
    </p>
{%endblock%}
