{%extends "base.html"%}
{%block title%} {{block.super}} - Lista znajomych: {{viewKonto.user.username}} {%endblock%}

{%block main_content%}    
    <a href="/friends/followers/{{viewKonto.user.username}}/">Komu udostępniam pliki?</a>
    <a href="/friends/following/{{viewKonto.user.username}}/">Kto mi udosŧępnia pliki?</a>
    <a href="/friends/mutual/{{viewKonto.user.username}}/">Znajomości w obie strony</a>
    
    {%if followers%}
    <h1>10 ostatnio dodanych użytkowników:</h1>
        <ul>
        {%for u in followers %}
            <li><a href="/accounts/details/{{u.user.username}}/">{{u.user.username}}</a></li>
        {%endfor%}
        </ul>
    {%else%}
    <h1>Brak uzytkowników. <a href="/accounts/search/">Wyszukaj</a> znajomych którym chcesz udostepniać swoje pliki</h1>
    {%endif%}
    
    {%if following%}
    <h1>10 uzytkowników, którzy mnie ostatnio dodali:</h1>
        <ul>
        {%for u in following %}
            <li><a href="/accounts/details/{{u.user.username}}/">{{u.user.username}}</a></li>
        {%endfor%}
        </ul>
    {%else%}
    <h1>Brak uzytkowników.</h1>
    {%endif%}
    
    {%if mutual%}
    <h1>10 uzytkowników, z którymi nawiązałem znajomość w dwie strony:</h1>
        <ul>
        {%for u in mutual %}
            <li><a href="/accounts/details/{{u.user.username}}/">{{u.user.username}}</a></li>
        {%endfor%}
        </ul>
    {%else%}
    <h1>Brak uzytkowników.</h1>
    {%endif%}    
        
{%endblock%}
