{%extends "base.html"%}
{%block title%} {{block.super}} - Szczegoly profilu: {{user.user.username}} {%endblock%}

{%block main_content%}
    {%if msg%}
        {%ifequal msg.type "Warning" %}
            <div id="warning">{{msg.content}}<br /><a href="#" class="close">zamknij</a></div>
        {%endifequal%}
        {%ifequal msg.type "Information"%}
            <div id="info">{{msg.content}}<br /><a href="#" class="close">zamknij</a></div>
        {%endifequal%}    
        {%ifequal msg.type "Error"%}
            <div id="error">{{msg.content}}<br /><a href="#" class="close">zamknij</a></div>
        {%endifequal%}
    {%endif%}
    {%ifequal konto.user.username user.username%}
    <a href="/accounts/edit/{{konto.user.username}}/">Modyfikuj profil</a>
    <a href="/friends/{{konto.user.username}}/">Zarzadzaj znajomymi</a>
    <a href="/accounts/delete/{{konto.user.username}}/">Usuń profil</a>
    {%else%}
    <!-- TODO: dodaj jesli nie dodany, usun jesli dodany do znajomych //-->
    <a href="/friends/{{user.username}}/add/{{konto.user.username}}/">Dodaj do znajomych</a>
    {%endifequal%}
    <h1>Konto uzytkownika {{konto.user.username}}</h1>
    <h2>Login: {{konto.user.username}}</h2>
    <h2>Dolaczyl: {{konto.user.date_joined.date|date:"d/m/Y"}}</h2>
    <h2>Ostatnie logowanie: {{konto.user.last_login.date|date:"d/m/Y"}}</h2>
    <h2>Imie: {{konto.user.first_name}}</h2>
    <h2>Nazwisko: {{konto.user.last_name}}</h2>
    <h2>E-mail: {{konto.user.email}}</h2>
{%endblock%}
