{%extends "base.html"%}
{%block title%} {{block.super}} - Szczegoly profilu: {{user.user.username}} {%endblock%}

{%block main_content%}
    <h1>Konto uzytkownika {{konto.user.username}}</h1>
    <h2>Login: {{konto.user.username}}</h2>
    <h2>Dolaczyl: {{konto.user.date_joined.date|date:"d/m/Y"}}</h2>
    <h2>Ostatnie logowanie: {{konto.user.last_login.date|date:"d/m/Y"}}</h2>
    <h2>Imie: {{konto.user.first_name}}</h2>
    <h2>Nazwisko: {{konto.user.last_name}}</h2>
    <h2>E-mail: {{konto.user.email}}</h2>
{%endblock%}
